/*
 * Clermont'ech styles
 *
 * 2013.
 *
 */

@import "compass/css3";

/* Headings */
h1, h2 {
    text-transform: uppercase;
    span.alt {
        color: #333;
    }
}

body > header {
    padding: 0 4% 0 4%;
}

/* Layout */
header {
    // Reset header styles
    background: none!important;
    border: 0!important;

    #logo {
        display: none;
    }

    & > nav {
        & > ul {
            @include inline-list;

            li {
                font-family: $header-font-family;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

#content {

    p {
        text-align: justify;
    }

    article.post {
        img {
            margin: auto;
            display: block;
        }

        .photos-set {
            width: 100%;
            margin: 0 auto 5% auto;
            text-align: center;
            list-style-type: none;

            .photos-set-item {
                @include thumb;

                width: 230px;
                height: 156px;
                margin: 10px 10px 0 0;

                img {
                    height: 100%;
                }
            }
        }
    }

    article.talk {
        .talk-body {
            @include grid-row($behavior:nest-collapse);

            .talk-metadata {
                margin-top: 5%;
            }

            .talk-content {
                & > .video iframe {
                    width: 100%;
                }
            }
        }
    }

    .anchor-link {
        padding: 2px;
        color: #BDBDBD;
        font-size: 60%;
        text-decoration: none;

        &:hover {
            color: #222222;
        }
    }

    .sponsors {
        .sponsors-list {
            list-style-type: none;
            text-align: center;
        }

        .sponsor {
            display: inline-block;
            margin: 10px;
        }

        .sponsor-logo {
            width: 100px;
        }
    }
}

#footer-wrapper {
    width:100%;
    @include box-shadow($footer-color 2px 2px 10px);
    background: $footer-color;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $footer-text-color;

    footer {
        @include grid-row;

        .footer-column {
            @include grid-column(6, $float:left);

            h3 {
                color: $footer-text-color;
            }

            p {
                font-family: $header-font-family;
                font-size: $footer-paragraph-font-size;
            }

            img.mascotte {
                display: none;
            }
        }
    }
}
