/*
 * Clermont'ech styles
 *
 * 2013.
 *
 */

@import "compass/css3";

/* Headings */
h1, h2 {
    text-transform: uppercase;
    span.alt {
        color: #333;
    }
}

/* Layout */
header {
    // Reset header styles
    background: none!important;
    border: 0!important;

    h1.title {
        margin-top: 0.7em;
    }

    .top-bar {
        background: none!important;

        .name h1 a,
        .toggle-topbar a {
            color: #2ba6cb;
            text-transform: uppercase;
            font-family: $header-font-family;
            font-weight: bold;
            font-size: $footer-paragraph-font-size!important;
        }

        .name h1 {
            padding-top: 2px
        }

        .toggle-topbar.menu-icon {
            a {
                color: #2ba6cb;
                line-height: 34px;
                font-size: $footer-paragraph-font-size!important;

                span {
                    -webkit-box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #2ba6cb, 0 22px 0 1px #2ba6cb;
                    box-shadow: 0 10px 0 1px #2ba6cb, 0 16px 0 1px #2ba6cb, 0 22px 0 1px #2ba6cb;
                }
            }
        }
    }

    .top-bar.expanded .title-area {
        background: none!important;
    }

    .top-bar.expanded .top-bar-section ul li {
        text-align: center;
    }

    .top-bar-section ul {
        background: none!important;

        li {
            background: none!important;

            & > a {
                color: #2ba6cb;
                text-transform: uppercase;
                font-family: $header-font-family;
                font-weight: bold;
                font-size: $footer-paragraph-font-size!important;
            }

            & > a:hover, a:focus {
                color: #2795b6;
            }

            a:not(.button) {
                background: none!important;
            }
        }
    }

    & > hgroup {
        display: none;
    }
}

#content {
    p {
        text-align: justify;
        overflow-wrap: break-word;
    }

    .photos-set {
        width: 100%;
        text-align: center;
        list-style-type: none;
        margin-bottom: 3%;

        .photos-set-item {
            @include thumb;

            width: 24%;
            margin: 0.5%;
            vertical-align: middle;

            max-width:225px;
            max-height:150px;
            overflow: hidden;

            background-color: #05292c;
        }

        .photos-set-item img {
            max-width: 225px;
            max-height: 150px;

            width: auto;
            height: 150px;
        }
    }

    .clearing-container {
        .photos-set-item {
            width: auto;
            margin: auto;
            vertical-align: auto;
        }
    }

    article.post {
        @include grid-column(12);

        img {
            margin: auto;
            display: block;
        }

        .post-body {
            .video {
                @include flex-video-container;
            }
        }
    }

    article.talk {
        margin: 0 4% 0 4%;

        .talk-header {
            @include grid-column(12);
        }

        .talk-metadata {
            @include grid-column(12);
        }

        .talk-content {
            @include grid-column(12);

            .video {
                @include flex-video-container;
            }

            .no-video {
                margin: 0 auto 6% auto;
                display: block;
            }
        }
    }

    .anchor-link {
        padding: 2px;
        color: #BDBDBD;
        font-size: 60%;
        text-decoration: none;

        &:hover {
            color: #222222;
        }
    }

    .sponsors {
        .sponsors-list {
            list-style-type: none;
            text-align: center;
        }

        .sponsor {
            display: inline-block;
            margin: 10px;
        }

        .sponsor-logo {
            width: 100px;
        }
    }

    .talks {
        .talk {
            padding: 15px 0 15px 0;
            list-style-type: none;
        }

        .talk-title {
            text-transform: uppercase;
        }

        .talk-speaker-image {
            display: none;
            float: left;
            margin-right: 15px;
            width: 70px;
            height: 70px;
            @include border-radius(35px)
        }
    }

    article.blog-post {
        @include grid-column(12);

        .blog-post-header {
            @include grid-column(12);
        }

        .blog-post-content {
            @include grid-column(12);

            .centered-img {
                text-align: center;
            }
        }
    }

    .blog-posts {
        font-size: inherit;
        margin-bottom: 5%;

        .blog-post {
            list-style-type: none;

            .read-more {
                text-decoration: underline;
                text-align: center;
            }
        }
    }
}

#footer-wrapper {
    width:100%;
    @include box-shadow($footer-color 2px 2px 10px);
    background: $footer-color;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $footer-text-color;

    footer {
        @include grid-row;

        .footer-column {
            @include grid-column(6, $float:left);

            h3 {
                color: $footer-text-color;
            }

            p {
                font-family: $header-font-family;
                font-size: $footer-paragraph-font-size;
            }

            img.mascotte {
                display: none;
            }
        }
    }
}

#announcement {
    display: block;
    text-align: center;

    @include panel;
}
