/*
 * Clermont'ech Fonts
 *
 * 2013.
 *
 */

// Neutraface
@font-face {
    font-family: Neutraface;
    src: url('../fonts/neutraface-condensed-light.otf');
}
@font-face {
    font-family: Neutraface;
    font-weight: bold;
    src: url('../fonts/neutraface-condensed-medium.otf');
}
