// Global Foundation Settings
@import "settings";

// Custom Fonts
@import "fonts";

// Foundation
@import "foundation";

// Base Clermont'ech Style (Mobile First)
@import "clermontech";

// Available Variables
$small-screen: emCalc(768px);
$medium-screen: emCalc(1280px);
$large-screen: emCalc(1440px);

$screen: "only screen";
$small: "only screen and (min-width:"#{$small-screen}")";
$medium: "only screen and (min-width:"#{$medium-screen}")";
$large: "only screen and (min-width:"#{$large-screen}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

/* We use this media query to add styles to any device that supports media queries */
@media #{$screen} {
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media #{$small} {
    header {
        #logo {
            float:left;
            @include thumb;
            margin-right: 20px;
            @include border-radius(100px);
            @include transition-property(border-radius);
            @include transition-duration(1s);
            &:hover {
                @include border-radius(50px);
            }
        }
    }

    body > header {
        @include grid-row;

        & > nav {
            @include grid-column(5, $float:right);
            width: auto;
            float: right; // force float: right for obscure reasons...

            & > ul {
                @include inline-list;
            }
        }
    }

    .container {
        & > div {
            @include grid-column(8, $float:left);
        }

        & .latest {
            @include grid-column(4, $float:left);
            margin-top: 10px;
        }
    }

    #content {
        article.talk {
            .talk-header {
                @include grid-column(12);
            }

            .talk-metadata {
                @include grid-column(4);
            }

            .talk-content {
                @include grid-column(8);
            }
        }

        .anchor-link {
            margin-left: 5px;
            display: inline-block;
            font-size: emCalc(12px);
        }


        .talks {
            .talk-info {
                height: 70px;
                line-height: 35px;
                padding-top: 2px;
            }

            .talk-speaker-image {
                display: block;
            }
        }
    }

    #footer-wrapper {
        margin-top: 30px;

        footer {
            .footer-column {
                @include grid-column(4, $float:left);

                img.mascotte {
                    display: block;
                    z-index:2;
                    position: absolute;
                    bottom: -250px;
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    #footer-wrapper {
        margin-top: 120px;

        footer {
            .footer-column {
                img.mascotte {
                    width: 95%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1020px) {
    #footer-wrapper {
        margin-top: 150px;

        footer {
            .footer-column {
                img.mascotte {
                    width: 100%;
                }
            }
        }
    }
}

/* Used to alter styles for screens at least 1280px wide. */
@media #{$medium} {
}

/* Used to alter styles for screens at least 1440px wide. */
@media #{$large} {
}

/* Apply styles to screens in landscape orientation */
@media #{$landscape} { }

/* Apply styles to screens in portrait orientation */
@media #{$portrait} { }

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
/* .touch .your-element {} */
