{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "node": true
  },
  "parserOptions":{
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}