<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name"><h1><a href="/">Clermont'ech</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li>
                <a href="/" title="Notre manifesto">Manifesto</a>
            </li>
            <li>
                <a href="/api-hours/" title="Les évènement API Hours !">API Hours</a>
            </li>
            <li>
                <a href="/talks/" title="Tous les talks">Talks</a>
            </li>
            <li>
                <a href="/workshops/" title="Les ateliers thématiques">Workshops</a>
            </li>
            <li>
                <a href="/groups/" title="clermontech.*">Groups</a>
            </li>
            <li>
                <a href="/devcamp/" title="Les Devcamps">Devcamps</a>
            </li>
            <li>
                <a href="/coworking.html" title="Le Coworking">Cowork</a>
            </li>
            <li>
                <a href="/blog/" title="Le blog de Clermont'ech">Blog</a>
            </li>
            <li>
                <a href="/tech-time.html" title="Tech time">Tech time</a>
            </li>
            <li>
                <a href="/association.html" title="A propos de Clermont'ech">Association</a>
            </li>
        </ul>
    </section>
</nav>
