<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name"><h1><a href="/">Clermont'ech</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li>
                <a href="/" title="Notre manifesto">Manifesto</a>
            </li>
            <li>
                <a href="/api-hours/" title="Les évènement API Hours !">API Hours</a>
            </li>
            <li>
                <a href="/workshops/" title="Les ateliers thématiques">Workshops</a>
            </li>
            <li>
                <a href="/talks/" title="Tous les talks">Talks</a>
            </li>
            <li>
                <a href="/code-and-coffee.html" title="Les Code & Coffee">C&C</a>
            </li>
            <li>
                <a href="/dej-dev.html" title="Les Dej Dev">Dej Dev</a>
            </li>
            <li>
                <a href="/blog/" title="Le blog de Clermont'ech">Le Blog</a>
            </li>
            <li>
                <a href="/association.html" title="A propos de Clermont'ech">Association</a>
            </li>
            <li>
                <a href="http://clermontech.spreadshirt.fr/" title="La boutique de Clermont'ech">La Boutique</a>
            </li>
        </ul>
    </section>
</nav>
