---
layout: default
---

{{ content }}

<div class="latest">
    <section class="talks">
        <h2>Talks</h2>
        <ul>
        {% for page in site.categories['talks'] limit:5 %}
        {% include headline.html %}
        {% endfor %}
        </ul>
    </section>
    <section class="api-hours">
        <h2>API Hours</h2>
        <ul>
        {% for page in site.categories['api-hours'] limit:5 %}
        {% include headline.html %}
        {% endfor %}
        </ul>
    </section>
    <section class="posts">
        <h2>Tous les posts</h2>
        <ul>
        {% for page in site.posts limit:5 %}
        {% include headline.html %}
        {% endfor %}
        </ul>
    </section>
</div>
