---
layout: layout
sponsors:
    - { url: "http://www.comsource.fr/", img: "comsource.jpg", alt: "ComSource" }
    - { url: "http://www.agaetis.fr/", img: "agaetis.png", alt: "Agaetis" }
    - { url: "http://www.itnetwork.fr/", img: "itn.png", alt: "ITNetwork" }
    - { url: "http://www.human-booster.com/", img: "human-booster.png", alt: "Human Booster" }
    - { url: "http://www.openstudio.fr/", img: "openstudio.png", alt: "OpenStudio" }
    - { url: "http://www.overscan.com/", img: "overscan.png", alt: "Overscan" }
    - { url: "http://www.wisembly.com/", img: "wisembly.png", alt: "Wisembly" }
    - { url: "http://iutweb.u-clermont1.fr/departement/informatique-clermont-fd.html", img: "iut.png", alt: "IUT de Clermont-Fd - Département Informatique" }
    - { url: "http://www.oreilly.com/", img: "oreilly.gif", alt: "O'Reilly" }
    - { url: "http://www.manning.com/", img: "manning.jpg", alt: "Manning Publications Co." }
    - { url: "http://www.github.com/", img: "github.png", alt: "GitHub" }
---
<div class="row">
    <div class="container large-12 columns">
        <div>
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>

    <div class="latest">
        <section class="talks">
            <h2>Talks</h2>
            <ul>
            {% for page in site.categories['talks'] limit:10 %}
            {% include headline.html %}
            {% endfor %}
            </ul>
        </section>
        <section class="api-hours">
            <h2>API Hours</h2>
            <ul>
            {% for page in site.categories['api-hours'] limit:5 %}
            {% include headline.html %}
            {% endfor %}
            </ul>
        </section>
        <section class="sponsors">
            <h2>Nos Sponsors &lt;3</h2>
            <ul class="sponsors-list">
                {% for sponsor in page.sponsors %}
                <li class="sponsor">
                    <a href="{{ sponsor.url }}">
                        <img src="/images/sponsors/{{ sponsor.img }}" alt="{{ sponsor.alt }}" class="sponsor-logo" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
