---
layout: layout
---
<div class="row">
    <div class="container large-12 columns">
        <div>
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>

    <div class="latest">
        <section class="talks">
            <h2>Talks</h2>
            <ul>
            {% for page in site.categories['talks'] limit:10 %}
            {% include headline.html %}
            {% endfor %}
            </ul>
        </section>
        <section class="api-hours">
            <h2>API Hours</h2>
            <ul>
            {% for page in site.categories['api-hours'] limit:5 %}
            {% include headline.html %}
            {% endfor %}
            </ul>
        </section>
        <section class="sponsors">
            <h2>Nos Sponsors &lt;3</h2>
            <ul class="sponsors-list">
                <li class="sponsor">
                    <a href="http://comsource.fr/">
                        <img src="/images/sponsors/comsource.jpg" alt="ComSource" class="sponsor-logo" />
                    </a>
                </li>
                <li class="sponsor">
                    <a href="http://www.github.com/">
                        <img src="/images/sponsors/github.png" alt="GitHub" class="sponsor-logo" />
                    </a>
                </li>
                <li class="sponsor">
                    <a href="http://www.wisembly.com/">
                        <img src="/images/sponsors/wisembly.png" alt="Wisembly" class="sponsor-logo" />
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>
