<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width" />
    <title>{{page.title}} - Clermont'ech</title>
    <meta name="description" content="{%if page.description%}{{page.description}}{%else%}Association de développeurs auvergnats.{%endif%}">
    <meta name="keywords" content="{%if page.categories%}{{page.categories|join:','}}{%endif%}">
    <meta name="author" content="{%if page.author%}{{page.author}}{%else%}Clermont'ech{%endif%}">

    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-ipad.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-iphone4.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-ipad3.png" sizes="144x144">

    <link href="/atom.xml" rel="alternate" title="{{ site.rss.title }}" type="application/atom+xml">

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <script src="/javascripts/vendor/custom.modernizr.js"></script>
    <script src="/javascripts/vendor/jquery.js"></script>
</head>
<body>
    <div class="header">
        <header>
            {% include nav.html %}

            <hgroup class="row">
                <div class="container large-12 columns">
                    <a href="/">
                        <img src="/images/clermontech_logo_200px.png" alt="Logo Clermontech" id="logo" />
                        <h1 class="title">Clermon<span class="alt">t'ech</span></h1>
                    </a>
                    <h2>Association de développeurs auvergnats.</h2>
                </div>
            </hgroup>
        </header>
    </div>

    <hr class="sep"/>

    <div id="content">
        {% if site.announcement %}
        <div class="row">
            <div class="container large-12 columns">
            {% if site.announcement.href %}
                <a id="announcement" href="{{ site.announcement.href }}">
                    {{ site.announcement.message }}
                </a>
            {% else %}
                <span id="announcement">{{ site.announcement.message }}</span>
            {% endif %}
            </div>
        </div>
        {% endif %}

        {{ content }}
    </div>

    <div id="footer-wrapper">
        <footer>
            <div class="footer-column">
                <h3>A propos</h3>
                <p>
                    Clermont'ech est une association loi 1901 créée le 21 février 2013 à Clermont-Ferrand. L’association a pour objectif
                    principal de fédérer les développeurs auvergnats.

                    Pour en savoir plus sur nos valeurs, reportez vous à notre <a href="/" title="Manifesto Clermont'ech">manifesto</a>.
                </p>
            </div>
            <div class="footer-column">
                <h3>Stay tuned</h3>
                <p>
                    Pour rester informé autour de l'actualité Clermont'ech, le plus simple est de vous inscrire sur le
                    <a href="https://groups.google.com/forum/?fromgroups#!forum/clermontech" title="Google Group">google group clermont'ech</a>
                    ou de suivre <a href="https://twitter.com/clermontech" title="Twitter Clermont'ech">@clermontech</a> sur twitter.
                </p>
            </div>
            <div class="footer-column">
                <img src="/images/{% if page.mascotte_img %}{{ page.mascotte_img }}{% else %}clermontech_mascotte_400px.png{% endif %}" alt="Mascotte Clermontech" class="mascotte" />
            </div>
        </footer>
    </div>
    <script src="/javascripts/foundation/foundation.js"></script>
    <script src="/javascripts/foundation/foundation.topbar.js"></script>
{% if page.flickr_set_id %}
    <script src="/javascripts/foundation/foundation.clearing.js"></script>
    <script>
{% else %}
    <script>
        $(document).foundation();
{% endif %}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41697057-1', 'clermontech.org');
        ga('send', 'pageview');
    </script>
{% if page.flickr_set_id %}
    <script src="/javascripts/vendor/flickr.js"></script>
    <script>
        $('.photos-set').flickrPhotoStream({
            id: '{{ site.flickr_id }}',
            setId: '{{ page.flickr_set_id }}',
            container: '<li class="photos-set-item" />',
            cssClass: 'photos-set-link'
        }).done(function () {
            $(document).foundation();
        }).fail(function () {
            $(this).append("<p>Désolé, nous n'avons pas pu charger les photos. Vous pouvez tenter de recharger la page.</p>");
        });
    </script>
{% endif %}
</body>
</html>
