<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta name="viewport" content="width=device-width" />
  <title>{{page.title}} - Clermont'ech</title>
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}Association de développeurs auvergnats.{%endif%}">
  <meta name="keywords" content="{%if page.categories%}{{page.categories|join:','}}{%endif%}">
  <meta name="author" content="{%if page.author%}{{page.author}}{%else%}Clermont'ech{%endif%}">

  <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-iphone.png">
  <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-ipad.png" sizes="72x72">
  <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-iphone4.png" sizes="114x114">
  <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-ipad3.png" sizes="144x144">

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  <script src="/javascripts/vendor/custom.modernizr.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="" title="Notre manifesto">Manifesto</a>
                </li>
                <li>
                    <a href="/api-hours" title="Les évènement API Hours !">API Hours</a>
                </li>
                <li>
                    <a href="/talks" title="Tous les talks">Talks</a>
                </li>
                <li>
                    <a href="/about.html" title="A propos de Clermont'ech">Contact</a>
                </li>
            </ul>
        </nav>
        <hgroup>
            <a href="/">
                <img src="/images/clermontech_logo_200px.png" alt="Logo Clermontech" id="logo" />
                <h1>Clermon<span class="alt">t'ech</span></h1>
            </a>
            <h2>Association de développeurs auvergnats.</h2>
        </hgroup>
    </header>

    <hr class="sep"/>

    <div id="content">
        {{ content }}
    </div>

    <div id="footer-wrapper">
        <footer>
            <div class="footer-column">
                <h3>A propos</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti debitis temporibus
                    quaerat non earum eveniet recusandae voluptatem fugit distinctio culpa voluptatibus nihil
                    esse officia harum natus nemo dolore animi ex!
                </p>
            </div>
            <div class="footer-column">
                <h3>Nous trouver</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio debitis labore
                    laboriosam non eum aperiam sed vero fugit quia beatae officia distinctio iusto iure omnis
                    architecto ullam et eligendi.
                </p>
            </div>
            <div class="footer-column">
                <img src="/images/clermontech_mascotte_400px.png" alt="Mascotte Clermontech" class="mascotte" />
            </div>
        </footer>
    </div>

    <script>
    document.write('<script src=/' +
    ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
    '.js><\/script>')
    </script>

<!--
    <script crc="/javascripts/foundation/foundation.js"></script>

    <script crc="/javascripts/foundation/foundation.tooltips.js"></script>

    <script crc="/javascripts/foundation/foundation.reveal.js"></script>

    <script crc="/javascripts/foundation/foundation.forms.js"></script>

    <script crc="/javascripts/foundation/foundation.orbit.js"></script>

    <script crc="/javascripts/foundation/foundation.clearing.js"></script>

    <script crc="/javascripts/foundation/foundation.magellan.js"></script>

    <script crc="/javascripts/foundation/foundation.joyride.js"></script>

    <script crc="/javascripts/foundation/foundation.section.js"></script>

    <script crc="/javascripts/foundation/foundation.alerts.js"></script>

    <script crc="/javascripts/foundation/foundation.placeholder.js"></script>

    <script crc="/javascripts/foundation/foundation.cookie.js"></script>

    <script crc="/javascripts/foundation/foundation.topbar.js"></script>

    <script crc="/javascripts/foundation/foundation.dropdown.js"></script>
-->

    <script>
      $(document).foundation();
    </script>
</body>
</html>
