---
layout: layout
---

<div class="row">
    <article class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
            <h1 itemprop="name"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        </header>
        <div itemprop="articleBody" class="post-body">
            {% if content %}{{ content }}{% else %}{{ page.content }}{% endif %}

            {% if page.flickr_set_id %}
            <h2>Photos</h2>
            <ul class="photos-set" data-clearing></ul>
            {% endif %}
        </div>
    </article>
</div>

<script src="/javascripts/vendor/anchorify.js"></script>
<script type="text/javascript">
    $('#content h2').anchorify();
</script>
{% if page.flickr_set_id %}
<script src="/javascripts/foundation/foundation.js"></script>
<script src="/javascripts/foundation/foundation.clearing.js"></script>
<script src="/javascripts/vendor/flickr.js"></script>
<script>
    $('.photos-set').flickrPhotoStream({
        id: '{{ site.flickr_id }}',
        setId: '{{ page.flickr_set_id }}',
        container: '<li class="photos-set-item" />',
        cssClass: 'photos-set-link'
    }).done(function () {
        $(document).foundation();
    }).fail(function () {
        $(this).append("<p>Désolé, nous n'avons pas pu charger les photos. Vous pouvez tenter de recharger la page.</p>");
    });
</script>
{% endif %}
