---
layout: default
paginate: 5
---

<center>
    <img src="/images/workshop.svg" alt="workshop" width="300px">
</center>

<p>
    Les workshops sont des ateliers thématiques organisés sur une journée
    pour apprendre et se former.
</p>

{{content}}

{% for event in site.categories.workshops %}
{% if forloop.first %}
<ul class="workshops">
{% endif %}
    <li class="workshps">
        <a href="{{ event.url }}" title="{{ event.title }}">{{ event.title }}</a>
    </li>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}

<hr>
<p>
    <small><em>Le logo ci-dessus est sous licence <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</em></small>
</p>
